
body {
  background: url(nubecita.gif);
  background-size:100% 100% ;
  font-family: "Calibri";
  color: rgb(56, 56, 56);
  font-size: 1.2rem; /*tamaño de las letras*/
  line-height: 1.6em; /* interlineado */
  margin: 0;
}


section {
  width:100%;
  min-width:100%;
  overflow:hidden;
  padding: 0em auto;
  margin-top: -2em ;
  

}



h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

/* parrafos */
p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  background: #333;
  color: white;
  padding: 2rem 0;

  /* hacer el menu fijo */
  
  left: 0;
  top: 0;
  /* ocuapamos todo el ancho */
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  /* lo alineamos al centro */
  align-items: center;

  flex-wrap: wrap;
}

/* logo */
.logo {
  letter-spacing: 15px;
  font-size: 1.3em;
}

.menu-icon {
  display: none;
}

/* todos los "ul" que esten dentro de "navigation" */
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  /* uno al lado del otro */
  display: inline-block;
}

/* los enlaces dentro del menu */
.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background: #6b15db;
}

.main {
  padding-top: 4rem;
}

/*PIE DE PAGINA*/
.footer {
  background: #ade3f3;
  padding: 3rem 0;
  text-align: center;
  margin-top: 6rem ;
  margin-bottom: 0%;
}


.menu-link{
    color: rgb(195, 2, 243);
}

.fb{
    color: blue;
}
/* REPONSIVE */
/* todas las caracteristicas que se mostraran a continuacion seran cuando tenga un ancho maximo de 240px */

@media only screen and (max-width: 240px) {
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
      
    .navigation ul li {
        display: block;
      }
      
      /* los enlaces dentro del menu */
      .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
      }
      
      .navigation ul li a:hover {
        background: #6503e6;
      }
}
